html {
    color: #444751;
}

body {
    background: #EEEEE9 url(../i/bgr.gif) repeat-x scroll center top;
    font-size: 1em;
    line-height: 1.125em;
    letter-spacing: 0.01em;
    font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
}

a, a:visited {
    border-bottom: 1px solid #D7E1E9;
    color: #0061A6;
    text-decoration: none;
}

a.pseudo {
    font: 11px Tahoma, "Trebuchet MS", Arial, sans-serif;
    border-bottom: 1px dashed #cccccc !important;
    color: #999999 !important;
}

a.pseudo:hover {
    border-bottom: 1px dashed #CC0000 !important;
    color: #CC0000 !important;
}

td, p {
    font-size: 0.75em;
    line-height: 1.5em;
    font-family: Tahoma, "Trebuchet MS", Arial, sans-serif;
    padding-bottom: 0.2em;
}

li {
    line-height: 1.5em;
}

.squared li {
    background: url("/i/square.png") no-repeat 0 0.6em;
    padding-left: 1.3em;
}

h1 {
    font: 2em 'Constantia', 'palatino linotype', palatino, Georgia, sans-serif;
    margin-top: 1em;
    letter-spacing: -0.05em;
}

.top {
    margin-top: 0.5em !important;
}

h2 {
    font: 1.5em Georgia, Helvetica, "Lucida Sans Unicode", Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

h3 {
    font: bold 1.125em / 2em "Trebuchet MS", Tahoma, Arial, sans-serif;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #555;
}

h4 {
    font-size: 0.875em;
}

span.position {
    font-variant: small-caps;
}

ul {
    margin-left: 1em;
}

input, select {
    border: 1px solid #ccc;
    font: 1em "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
    padding: 0.2em;
}

input[type=submit] {
    background-color: #fff;
    color: #000;
}

.right {
    float: right;
    margin-left: 2em;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#boxheader {
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 1em;
}

#subnav {
    position: absolute;
    right: 4em;
    top: 3em;
}

#peopleSort {
    position: absolute;
    right: 4em;
    top: 7em;
}

ul.nav > li {
    background: none;
    display: inline;
    float: left;
    padding: 4px 0 0 15px;
}

ul.nav > li > a {
    color: #333;
    letter-spacing: 0.4px;
    margin: 0 5px 4px 0;
    text-decoration: none;
    text-transform: uppercase;
    font: 0.8em "Gill Sans MT", "Trebuchet MS", Arial, sans-serif;
    border-bottom: 0;
}

ul.nav > li > a:hover {
    border-bottom: 2px solid #DDDDDD;
    color: #666666;
}

ul.nav > li > a.selected {
    border-bottom: 2px solid #1A7ECA;
    color: #0865AC;
}

ul.nav > li.selected > a:hover {
    border-bottom: 2px solid #DDDDDD;
}

ul.nav > li > a:hover {
    border-bottom: 2px solid #DDDDDD;
    color: #666666;
}

ul.nav > li > a.arrow {
    border-bottom: 0;
    margin-left: 5px;
}

ul.nav > li > div.menu {
    background-color: #fff;
    border: 1px solid #eee;
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 100;
    padding: 10px;
}

div.menu a {
    font-size: 0.8em;
}

.header, .footer, .box {
    margin: 0 auto;
    background-color: #fff;
    width: 64em;
    padding: 1em 2em;
    border: 1px solid #D7DADD;
    border-bottom-width: 3px;
    position: relative;
}

.header {
    margin-top: 4px;
    border-top-width: 0;
}

.contol {
    margin: 0 auto;
    text-align: right;
    width: 68em;
    padding: 0;
}

.contol a {
    font: 0.7em Tahoma, "Trebuchet MS", Arial, sans-serif;
    color: #333 !important;
}

.header div.form {
    position: absolute;
    margin-top: 4px;
    top: 0.5em;
    right: 1em;
    text-align: right;
}

.header div.form input {
    border: 1px #ddd solid;
    color: #ccc;
    font: 0.9em "Tahoma", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
    vertical-align: middle;
    padding: 3px;
}

.header span {
    font-size: 0.8em;
}

.header span a {
    border-bottom: 1px solid #ccc;
}

.box {
    margin-top: 2em;
    width: 60em;
    padding: 0 4em 4em 4em;
    overflow: hidden;
}

.box div.left {
    width: 40em;
    float: left;
}

.box div.right {
    width: 15em;
    float: right;
}

.footer {
    margin-top: 1em;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}

.control, .control li {
    display: inline;
    margin: 0 2px
}

.control li a {
    border-bottom-style: dashed;
}

#searchform {
    background: #FFFFFF;
    border: 1px solid #ECE6E4;
}

#query {
    background: #FFF;
    border: 0;
}

#searchsubmit {
    border: 0;
    vertical-align: middle;
}

/*//////*/

.tip {
    left: -10px;
    position: absolute;
    width: 30px;
    height: 60px;
}

.red {
/*background: transparent url(../i/aside_4.gif) no-repeat scroll 0 0;*/
    background-color: #99ccff;
}

.blue {
/*background: transparent url(../i/aside_4.gif) no-repeat scroll 0 0;*/
    background-color: #99ccff;
}

.green {
/*background: transparent url(../i/still_fresh.gif) no-repeat scroll 0 0;*/
/*height: 140px;*/
    background-color: #99ccff;
}

ul.users li {
    font-size: 0.8em;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

table {
    margin-left: 1em;
}

table th {
    font-weight: bold;
    color: #aaa;
    text-align: left;
    width: 15em;
}

table.contacts {
    margin-bottom: 1em;
}

table.contacts td {
    padding-left: 1em;
    padding-top: 3px;
}

table.contacts td input, table.contacts td select {
    width: 36em;
}

div.people {
    overflow: hidden;
}

div.people div.person {
    width: 48%;
    float: left;
}

div.people div.person span {
    background-color: #FFF;
    border: 1px solid #eee;
    float: left;
    margin-top: 2px;
    padding: 4px;
    width: 100px;
    text-align: center;
}

div.people div.person span a {
    border: 0 !important;
}

div.people div.person h4 {
    font-size: 0.8em;
    font-weight: normal;
    line-height: 1.5em;
    margin-left: 120px;
    text-align: left;
}

div.people div.person p {
    margin-bottom: 20px;
    color: #999999;
    font-size: 0.7em;
    font-style: italic;
    margin-left: 120px;
    line-height: 1.5em;
    text-align: left;
}

.datepick {
    width: 60em;
    margin: 2em auto 1em auto;
}

.datepick .row {
    overflow: hidden;
    font: 0.7em Tahoma, "Lucida Sans", helvetica, arial, "Tahoma", sans-serif;
    color: #444;
}

.datepick .row .column {
    width: 14em;
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    float: left;
    height: 2em;
    position: relative;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
}

.datepick .days .column {
    font-weight: bold;
    background-color: #F7F7F7;
}

.datepick .column.day.today {
    background-color: #ddddff !important;
\
}

.datepick .column.day.highlight {
    background-color: #ffffed !important;
}

.datepick .column.day.selected {
    background-color: #ccffcc !important;
}

.reportText {
    width: 60em;
    margin: 4em auto;
}

.reportText textarea {
    width: 98%;
    max-width: 98%;
    margin-bottom: 1em;
}

.reportText select {
    font: 0.8em "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
    width: 50em;
}

.justAdded {
    background-color: #ffff99 !important;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

a.action {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font: 0.7333em "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    padding: 0.3em 0.7em;
    background-color: #E1E3E5;
}

div.message {
    background-color: #ffcc99;
    padding: 2em 5em;
    font: 0.65em / 1.8em "Lucida Sans Unicode", sans-serif;
    text-transform: uppercase;
    margin-bottom: 1em;
}

div.message.success {
    background-color: #ccffcc;
}

a.action:hover {
    background-color: #F29500;
    color: #FFFFFF;
}

a.reply {
    color: #ccc;
    border-bottom: 1px dashed #ddd;
}

#board {
    margin-top: 2em;
    line-height: 1.5em;
}

#board td {
    color: #333;
}

#board span {
    font: 0.7em "Tahoma", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
    color: #ccc;
}

td a, td a:visited {
    border-bottom: 1px solid #D7E1E9;
    color: #0061A6;
    text-decoration: none;
}

ul.report {
    padding: 0 1em;
}

ul.report li {
    border-bottom: 1px solid #D7DADD;
    padding: 0.6em;
    color: #000;
    font: 0.7em / 1.5em "Tahoma", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
}

ul.report li h3.current {
    background-color: #e6ebff;
}

ul.report li h3 {
    padding-bottom: 0;
}

.file {
    background: no-repeat left 3px;
    margin: 1em 0;
    padding: 0 0 0 39px;
}

.file a {
    font: 0.7em / 1.5em "Tahoma", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
    position: relative;
}

.file a img {
    height: 32px;
    left: -40px;
    position: absolute;
    top: 0;
    width: 32px;
}

.pdf img {
    background-image: url(../i/pdf.png);
}

.xls img {
    background-image: url(../i/xls.png);
}

.file span {
    color: #C2C2C2;
    display: block;
    font-size: 0.76em;
    margin: 2px 0 0;
    text-transform: uppercase;
}

ul.edit {
    width: 30em;
    margin-bottom: 2em;
}

ul.edit li {
    border-bottom: 1px solid #eee;
    padding: 0.3em 1em;
}

ul.edit li span {
    font: 11px "Tahoma", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
}

#newActivity {
    width: 100%;
    margin-bottom: 2em;
}

#newActivity td input, #newActivity td select {
    width: 36em;
}

h3 span {
    font: 0.7333em "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    padding: 0.3em 0.7em;
    background-color: #ccffcc;
    text-transform: lowercase;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

h3 span.old {
    background-color: #ffd2d2;
}
